<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" [routerLink]="['/dashboard']">
                <i class="bi bi-peace-fill"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" [routerLink]="['/clientes']">
                <i class="bi bi-person-fill"></i>
                <span>Clientes</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" [routerLink]="['/inventario']">
                <i class="bi bi-box-seam-fill"></i>
                <span>Almacen</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" [routerLink]="['/ventas']">
                <i class="bi bi-bag-fill"></i>
                <span>Ventas</span>
            </a>
        </li><!-- End Contact Page Nav -->

        <!-- <li class="nav-item">
            <a class="nav-link collapsed" [routerLink]="['/compras']">
                <i class="bi bi-cart-fill"></i>
                <span>Compras</span>
            </a>
        </li> -->
        <!-- End Register Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" [routerLink]="['/historial']">
                <i class="bi bi-clipboard-fill"></i>
                <span>Historial</span>
            </a>
        </li><!-- End Register Page Nav -->

    </ul>

</aside><!-- End Sidebar-->