<body>
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>VENTAS</h1>
        </div>
        <!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">
                <!-- Right side columns -->
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">

                            <!-- Multi Columns Form -->
                            <form class="row g-3">
                                <!-- <div class="" style="display: flex; align-items: center; justify-content: center;"> -->
                                <div class="col-md-3">
                                    <label for="" class="form-label col-form-label col-form-label-sm">Tipo
                                        comprobante</label>
                                    <select id="" class="form-select form-select-sm">
                                        <option [value]="0">Seleccionar</option>
                                        <option>

                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="" class="form-label col-form-label col-form-label-sm">Vendedor</label>
                                    <input type="text" placeholder="Gianfranco Piscoya Chapoñan"
                                        class="form-control form-control-sm" id="">
                                </div>
                                <div class="col-md-3">
                                    <!-- <label for="" class="form-label col-form-label col-form-label-sm">Nombre / Razon
                                        Social</label>
                                    <input type="text" class="form-control form-control-sm" id=""> -->
                                </div>
                                <div class="col-md-3">
                                    <label for="" class="form-label col-form-label col-form-label-sm">Fecha
                                        Emisión</label>
                                    <input type="date" [(ngModel)]="fechaToday" class="form-control form-control-sm" id="">
                                </div>
                                <div class="col-sm-3">
                                    <label for="" class="form-label col-form-label col-form-label-sm">Tipo
                                        Documento</label>
                                    <select id="mrf_id" class="form-select form-select-sm">
                                        <option [value]="0">Seleccionar</option>
                                        <option>

                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="" class="form-label col-form-label col-form-label-sm">Número
                                        Documento</label>
                                    <input type="text" class="form-control form-control-sm" id="">
                                </div>
                                <div class="col-md-6">
                                    <label for="" class="form-label col-form-label col-form-label-sm">Nombre / Razon
                                        Social</label>
                                    <input type="text" class="form-control form-control-sm" id="">
                                </div>
                                <div class="col-md-12">
                                    <label for="" class="form-label col-form-label col-form-label-sm">Dirección</label>
                                    <input type="text" class="form-control form-control-sm" id="">
                                </div>
                                <!-- <div class="">
                                    <button type="button" class="btn btn-primary">Agregar</button>
                                </div> -->
                            </form><!-- End Multi Columns Form -->

                        </div>
                    </div>
                    <!-- <div class="card">
                        <div class="" style="display: flex; justify-content: right;">
                            <div class="" style="margin: 10px;">
                                <button (click)="open(boleta)" type="button"
                                    class="btn btn-outline-primary">Boleta</button>
                            </div>
                            <div class="" style="margin: 10px;">
                                <button (click)="open(factura)" type="button"
                                    class="btn btn-outline-primary">Factura</button>
                            </div>
                        </div>
                    </div> -->


                </div><!-- End Right side columns -->
            </div>
            <div class="row">
                <!-- Left side columns -->
                <div class="col-lg-12">
                    <div class="row">

                        <!-- Recent Sales -->
                        <div class="col-12">
                            <div class="card recent-sales overflow-auto">

                                <div class="card-body">
                                    <div class="" style="display: flex; align-items: center;">
                                        <div class="">
                                            <h5 class="card-title">Lista Productos<span></span></h5>
                                        </div>
                                        <div class="" style="margin-left: 25px;">
                                            <button type="button" (click)="open(agregarProducto)"
                                                class="btn btn-primary">Agregar</button>
                                        </div>
                                    </div>

                                    <table datatable [dtOptions]="dtOptions" class="row-border hover">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Descripción</th>
                                                <th>Proveedor</th>
                                                <th>Precio Venta</th>
                                                <th>Uni x Caja</th>
                                                <th>Stock</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Foo</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Foo</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Foo</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Foo</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Foo</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Foo</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Foo</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Foo</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Foo</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Foo</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Foo</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Foo</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                                <td>Bar</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="row mt-4"
                                        style="display: flex; justify-content: right; align-items: center;">
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-primary">Calcular</button>
                                        </div>
                                        <label for="" class="col-sm-2 col-form-label" style="display: flex; justify-content: right; padding-right: 0px;">TOTAL:</label>
                                        <div class="col-sm-4"  style="display: flex; align-items: center; justify-content: space-between;">
                                            <div class="" style="margin-right: 10px;">
                                                <input disabled type="text" class="form-control disabled-color" id="">
                                            </div>
                                            <div class="">
                                                <button type="button" class="btn btn-primary">Aceptar</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div><!-- End Recent Sales -->

                    </div>
                </div><!-- End Left side columns -->
            </div>
        </section>

    </main><!-- End #main -->

</body>

<ng-template #agregarProducto let-modal>
    <div class="modal-header" style="display: flex; justify-content: space-between;">
        <div class="">
            <h5 class="card-title">Agregar Nuevo Item</h5>
        </div>
        <div class="">
            <a (click)="modal.dismiss('Cross click')" style="color: white; font-weight: bold; cursor: pointer;">
                <i class="bi bi-x-lg"></i>
            </a>
            <!-- <button type="button" class="bi bi-x" (click)="modal.dismiss('Cross click')">
            </button> -->
        </div>
    </div>
    <div class="" style="padding: 20px;">
        <!-- <div class="card-body"> -->

        <form class="row g-3">
            <div class="mb-2-5 col-sm-12 ">
                <label for="" class="form-label col-form-label-sm">Descripción</label>
                <div class="" style="display: flex; align-items: center">
                    <select id="" class="form-select form-select-sm">
                        <option [value]="0">Seleccionar</option>
                        <option *ngFor="let data of dataProducto" [value]="data.pro_id">
                            {{data.pro_nombre}}
                        </option>
                    </select>
                    <button type="button" title="Buscar" class="btn btn-primary btn-sm" style="margin-left: 5px">
                        <i class="ri-search-line"></i>
                    </button>
                </div>
            </div>

            <div class="col-sm-12" style="display: flex; justify-content: right;">
                <button type="button" class="btn btn-primary">Agregar</button>
            </div>
        </form>
        <!-- </div> -->
    </div>
</ng-template>

<ng-template #factura let-modal>
    <div class="modal-header" style="display: flex; justify-content: space-between;">
        <div class="">
            <h5 class="card-title">Datos Cliente - Factura</h5>
        </div>
        <div class="">
            <a (click)="modal.dismiss('Cross click')" style="color: white; font-weight: bold; cursor: pointer;">
                <i class="bi bi-x-lg"></i>
            </a>
            <!-- <button type="button" class="bi bi-x" (click)="modal.dismiss('Cross click')">
            </button> -->
        </div>
    </div>
    <div class="" style="padding: 20px;">
        <!-- <div class="card-body"> -->

        <form class="row g-3">
            <div class="col-md-6">
                <label for="" class="form-label form-control-sm">Tipo Doc.</label>
                <select disabled id="mrf_id" class="form-select disabled-color" style=" font-size: 12px;">
                    <!-- <option [value]="0">Seleccionar</option> -->
                    <option>
                        Factura
                    </option>
                </select>

            </div>
            <div class="col-md-6">
                <label for="" class="form-label form-control-sm">Nro. Doc</label>
                <input type="text" class="form-control form-control-sm" id="">
            </div>

            <div class="col-md-12">
                <label for="" class="form-label form-control-sm">Nombre / Razón
                    Social</label>
                <input type="text" class="form-control form-control-sm" id="">
            </div>

            <div class="col-md-12">
                <label for="" class="form-label form-control-sm">Dirección</label>
                <input type="text" class="form-control form-control-sm" id="">
            </div>

            <div class="col-sm-12" style="display: flex; justify-content: right;">
                <button type="button" class="btn btn-primary">Registrar</button>
            </div>
        </form>
        <!-- </div> -->
    </div>
</ng-template>