<body>
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>INVENTARIO</h1>
            <!-- <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </nav> -->
        </div>

        <div class="" style="margin-bottom: 20px;">
            <button type="button" (click)="open(newItem)" class="btn btn-primary">Nuevo Item</button>
        </div>
        <!-- End Page Title -->

        <section class="section inventario">
            <div class="row">

                <!-- Left side columns -->
                <div class="col-lg-12">
                    <div class="row">

                        <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Descripción</th>
                                    <th>Proveedor</th>
                                    <th>Precio Venta</th>
                                    <th>Uni x Caja</th>
                                    <th>Stock</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Foo</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Foo</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Foo</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Foo</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Foo</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Foo</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Foo</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Foo</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Foo</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Foo</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Foo</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Foo</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                    <td>Bar</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div><!-- End Left side columns -->

                <!-- Right side columns -->

                <!-- End Right side columns -->

            </div>
        </section>

    </main><!-- End #main -->

</body>

<ng-template #newItem let-modal>
    <div class="modal-header" style="display: flex; justify-content: space-between;">
        <div class="">
            <h5 class="card-title">Agregar Nuevo Item</h5>
        </div>
        <div class="">
            <a (click)="modal.dismiss('Cross click')" style="color: white; font-weight: bold; cursor: pointer;">
                <i class="bi bi-x-lg"></i>
            </a>
            <!-- <button type="button" class="bi bi-x" (click)="modal.dismiss('Cross click')">
            </button> -->
        </div>
    </div>
    <div class="" style="padding: 20px;">
        <!-- <div class="card-body"> -->

        <form class="row g-3">
            <!-- <div class="col-md-6">
                <label for="" class="form-label form-control-sm">Tipo Doc.</label>
                <select disabled id="mrf_id" class="form-select disabled-color" style=" font-size: 12px;">
                    <option>
                        Factura
                    </option>
                </select>

            </div> -->
            <div class="col-md-2">
                <label for="" class="form-label ">Código</label>
                <input type="text" class="form-control form-control-sm" id="">
            </div>

            <div class="col-md-10">
                <label for="" class="form-label ">Descripción</label>
                <input type="text" class="form-control form-control-sm" id="">
            </div>

            <div class="col-md-12">
                <label for="" class="form-label ">Proveedor</label>
                <input type="text" class="form-control form-control-sm" id="">
            </div>
            <div class="col-md-6">
                <label for="" class="form-label ">Precio Venta</label>
                <input type="text" class="form-control form-control-sm" id="">
            </div>
            <div class="col-md-6">
                <label for="" class="form-label ">Stock Actual</label>
                <input type="text" class="form-control form-control-sm" id="">
            </div>

            <div class="col-sm-12" style="display: flex; justify-content: right;">
                <button type="button" class="btn btn-primary">Registrar</button>
            </div>
        </form>
        <!-- </div> -->
    </div>
</ng-template>