<body>
    <main id="main" class="main">

        <div class="pagetitle" style="display: flex; align-items: center;">
            <div class="">
                <h1>ALMACEN</h1>
            </div>
            <!-- <div class="" style="margin-left: 30px;">
                <button type="button" (click)="open(newItem)" class="btn btn-primary">Nuevo Item</button>
            </div> -->
        </div>

        <!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="" style="display: flex; align-items: center;">
                                <div class="">
                                    <h5 class="card-title">Registrar nuevo producto<span></span></h5>
                                </div>
                                <!-- <div class="" style="margin-left: 25px;">
                                    <button type="button" class="btn btn-primary">Nuevo</button>
                                </div> -->
                            </div>
                            <form class="row g-3" style="display: flex; align-items: center;">
                                <!-- <div class="" style="display: flex; align-items: center; justify-content: center;"> -->
                                <div class="col-sm-6">
                                    <label for=""
                                        class="form-label col-form-label col-form-label-sm">Descripción</label>
                                    <select id="mrf_id" class="form-select form-select-sm">
                                        <option [value]="0">Seleccionar</option>
                                        <option>

                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="" class="form-label col-form-label col-form-label-sm">Precio</label>
                                    <input type="text" class="form-control form-control-sm" id="">
                                </div>
                                <div class="col-md-2">
                                    <label for="" class="form-label col-form-label col-form-label-sm">Unidad de
                                        Medida</label>
                                    <select id="mrf_id" class="form-select form-select-sm">
                                        <option [value]="0">Seleccionar</option>
                                        <option>

                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="" class="form-label col-form-label col-form-label-sm">Stock</label>
                                    <input type="text" class="form-control form-control-sm" id="">
                                </div>
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary">Nuevo</button>
                                </div>
                                <!-- <div class="">
                                    <button type="button" class="btn btn-primary">Agregar</button>
                                </div> -->
                            </form><!-- End Multi Columns Form -->
                            <!-- <div class="">
                                    <button type="button" class="btn btn-primary">Agregar</button>
                                </div> -->
                        </div>
                    </div>
                </div><!-- End Right side columns -->
            </div>
            <div class="row">

                <!-- Left side columns -->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="" style="display: flex; align-items: center;">
                                <div class="">
                                    <h5 class="card-title">Lista Productos<span></span></h5>
                                </div>
                                <div class="" style="margin-left: 25px;">
                                    <button type="button" class="btn btn-primary">Agregar Item</button>
                                </div>
                            </div>
                            <div class="row">

                                <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Descripción</th>
                                            <th>Precio</th>
                                            <th>Entrada</th>
                                            <th>Salida</th>
                                            <th>Stock</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Foo</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Foo</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Foo</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Foo</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Foo</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Foo</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Foo</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Foo</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Foo</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Foo</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Foo</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Foo</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                            <td>Bar</td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </div><!-- End Left side columns -->

                <!-- Right side columns -->

                <!-- End Right side columns -->

            </div>
        </section>

    </main><!-- End #main -->

</body>

<ng-template #newItem let-modal>
    <div class="modal-header" style="display: flex; justify-content: space-between;">
        <div class="">
            <h5 class="card-title">Agregar Nuevo Item</h5>
        </div>
        <div class="">
            <a (click)="modal.dismiss('Cross click')" style="color: white; font-weight: bold; cursor: pointer;">
                <i class="bi bi-x-lg"></i>
            </a>
            <!-- <button type="button" class="bi bi-x" (click)="modal.dismiss('Cross click')">
            </button> -->
        </div>
    </div>
    <div class="" style="padding: 20px;">
        <!-- <div class="card-body"> -->

        <form class="row g-3">
            <div class="mb-2-5 col-sm-12 ">
                <label for="" class="form-label col-form-label-sm">Descripción</label>
                <div class="" style="display: flex; align-items: center">
                    <select id="" class="form-select form-select-sm">
                        <option [value]="0">Seleccionar</option>
                        <option>

                        </option>
                    </select>
                    <button type="button" title="Buscar" class="btn btn-primary btn-sm" style="margin-left: 5px">
                        <i class="ri-search-line"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <label for="" class="form-label col-form-label-sm ">Precio Venta</label>
                <input type="text" class="form-control form-control-sm" id="">
            </div>
            <div class="col-md-6">
                <label for="" class="form-label col-form-label-sm ">Stock Actual</label>
                <input type="text" class="form-control form-control-sm" id="">
            </div>

            <div class="col-sm-12" style="display: flex; justify-content: right;">
                <button type="button" class="btn btn-primary">Registrar</button>
            </div>
        </form>
        <!-- </div> -->
    </div>
</ng-template>